@import "config";
@import "mixings";
@import "overrides";
// @import "base";
// @import "sections/top-section";
// @import "sections/nav-section";
// @import "sections/list-section";

body {
  font-family: $font_0;
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y proximity;
}
section {
  border-bottom: 1px solid $white;
  padding: 1rem;
  height: 100vh;
  scroll-snap-align: start;
  text-align: center;
  position: relative;
}
h1 {
  position: absolute;
  top: 50%;
  //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
  transform: translateY(-50%);
  text-align: center;
  color: $white;
  width: 100%;
  left: 0;
  font-size: calc(1rem +3vw);
}
.gallery {
  border: 1px solid $color_quill_gray_approx;
  padding: 0;
  margin: 0;
  display: flex;
  overflow-x: scroll;
  scroll-padding: 0 50%;
  scroll-snap-type: x mandatory!important;
}
li {
  scroll-snap-align: left;
  border-right: 1px solid $color_minsk_approx;
}
.nav-section {
  padding: 0;
  scroll-snap-type: mandatory;
  scroll-snap-align: start;
}
.top-section {
  padding: 0;
  height: 60vh;
  background-color: $white!important;
  header {
    width: 100%;
    background: $color_minsk_approx;
    color: $white;
    height: 68px;
    position: relative;
    text-align: center;
    box-shadow: 2px 2px 9px $color_suva_gray_approx;
    z-index: 10;
    .back-button {
      position: absolute;
      left: 10px;
      border-width: 0;
      border: none;
      background: transparent;
      top: 0;
      bottom: 0;
      i {
        font-size: 3rem;
      }
    }
    h1 {
      position: absolute;
      top: 50%;
      bottom: 0;
      margin: 0;
    }
  }
  .top-content {
    padding-top: 10px;
    h2 {
      text-align: left;
    }
    .bill-status {
      position: absolute;
      right: 40px;
      top: 5px;
      width: 20%;
    }
    .menu-button {
      position: absolute;
      right: 5px;
      top: 5px;
    }
  }
  .sponsors-list {
    margin-top: 10px;
    color: $color_silver_chalice_approx;
    font-size: 90%;
    text-align: left;
  }
  .summary-text {
    text-align: left;
    margin-top: 10px;
    font-size: 90%;
    line-height: 1.1rem;
  }
  .scroll-panel {
    padding-top: 10px;
    padding-right: 5px;
    max-height: 200px;
    overflow-y: auto;
  }
  .main-sponsor-tag span {
    background: #c26d5e87;
    padding: 0 3px;
    float: left;
  }
  .committee-tag span {
    background: #7068a138;
    padding: 0 3px;
    float: left;
    margin-top: 3px;
    margin-right: 5px;
    color: $color_chicago_approx;
    font-size: 90%;
  }
}
.scroll-panel::-webkit-scrollbar {
  width: 6px !important;
}
.scroll-panel::-webkit-scrollbar-track {
  @include border-radius(10px !important);
}
.scroll-panel::-webkit-scrollbar-thumb {
  @include border-radius(10px !important);
 // border-radius: 10px !important;
  background: $color_silver_approx !important;
  &:window-inactive {
    background: $color_silver_approx !important;
  }
}
.list-section {
  padding: 0;
}
