body {
  font-family: "Roboto", sans-serif;
  position: relative;
  background: black; }
  body.flip {
    animation: 1s ease-out 0s 1 flipAround; }
  body.slide-left {
    animation: 1s ease-out 0s 1 slideInFromLeft; }

.wrapper-section {
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y proximity;
  padding-top: 68px; }

section {
  border-bottom: 1px solid white;
  padding: 1rem;
  height: 100vh;
  scroll-snap-align: start;
  text-align: center;
  position: relative; }

h1 {
  font-size: calc(1rem +3vw); }

.scroll-panel::-webkit-scrollbar {
  width: 6px !important; }

.scroll-panel::-webkit-scrollbar-track {
  -moz-border-radius: 10px !important;
  -webkit-border-radius: 10px !important;
  border-radius: 10px !important; }

.scroll-panel::-webkit-scrollbar-thumb {
  -moz-border-radius: 10px !important;
  -webkit-border-radius: 10px !important;
  border-radius: 10px !important;
  background: #bbbbbd !important; }
  .scroll-panel::-webkit-scrollbar-thumb:window-inactive {
    background: #bbbbbd !important; }

#overlay {
  display: none;
  width: 0;
  height: 0;
  background: #A7A5A6;
  top: 0;
  left: 0;
  opacity: 0.8;
  z-index: 2; }

.orange {
  color: #ff7f35; }

@-webkit-keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%); }
  100% {
    transform: translateX(0); } }
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%); }
  100% {
    transform: translateX(0); } }
@-webkit-keyframes flipAround {
  from {
    -webkit-transform: rotateY(180deg); }
  to {
    -webkit-transform: rotateY(0deg); } }
@keyframes flipAround {
  from {
    transform: rotateY(180deg); }
  to {
    transform: rotateY(0deg); } }
#header {
  width: 100%;
  background: #423970 !important;
  color: white;
  height: 68px;
  border: 0px;
  text-align: center;
  box-shadow: 2px 2px 9px #888888;
  z-index: 1;
  position: fixed; }
  #header .back-button {
    position: absolute;
    left: 10px;
    border-width: 0;
    border: none;
    background: transparent;
    top: 0;
    bottom: 0;
    z-index: 1; }
    #header .back-button i {
      font-size: 3rem; }
  #header h1 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    bottom: 0;
    margin: 0;
    text-align: center;
    color: white;
    width: 100%;
    left: 0; }

.top-section {
  padding: 0;
  height: 50vh;
  background-color: white !important; }
  .top-section .top-content {
    padding-top: 10px; }
    .top-section .top-content h2 {
      text-align: left; }
    .top-section .top-content .bill-status {
      position: absolute;
      right: 40px;
      top: 5px;
      width: 20%; }
    .top-section .top-content .menu-button {
      position: absolute;
      right: 5px;
      top: 5px; }
  .top-section .sponsors-list {
    margin-top: 10px;
    color: #adaeae;
    font-size: 90%;
    text-align: left; }
  .top-section .summary-text {
    text-align: left;
    margin-top: 10px;
    font-size: 90%;
    line-height: 1.1rem; }
  .top-section .scroll-panel {
    padding-top: 10px;
    padding-right: 5px;
    height: 300px;
    overflow-y: auto; }
  .top-section .main-sponsor-tag span {
    background: #c26d5e87;
    padding: 0 3px;
    float: left; }
  .top-section .committee-tag span {
    background: #7068a138;
    padding: 0 3px;
    float: left;
    margin-top: 3px;
    margin-right: 5px;
    color: #565656;
    font-size: 90%; }

.nav-section {
  height: auto;
  padding: 0;
  scroll-snap-type: mandatory;
  scroll-snap-align: start; }
  .nav-section li {
    scroll-snap-align: left; }
    .nav-section li a {
      border-bottom: 4px solid transparent;
      border-top: 4px solid transparent; }
      .nav-section li a:hover, .nav-section li a:focus {
        border-bottom: 4px solid #ff7f35;
        background-color: #6e65a2;
        color: white;
        text-decoration: none; }
      .nav-section li a.active {
        border-bottom: 4px solid #ff7f35; }

.sticky .nav-section {
  position: fixed;
  top: 68px;
  width: 100%;
  z-index: 1; }

#list-section {
  padding: 0 15px 50px 15px;
  background: #EDEDEE !important;
  height: auto;
  min-height: 100vh;
  overflow-y: auto; }
  #list-section .list-item {
    border-bottom: 1px solid #939598;
    background: white;
    padding: 10px; }
    #list-section .list-item .date {
      color: #adaeae; }

.sticky #list-section {
  padding-top: 45px; }

#main-menu {
  background: white;
  visibility: hidden;
  bottom: 0;
  left: 0;
  opacity: 0;
  height: 0%;
  width: 0;
  z-index: 3;
  -moz-transition: opacity 1s, height 1s ease-in-out;
  -o-transition: opacity 1s, height 1s ease-in-out;
  -webkit-transition: opacity 1s, height 1s ease-in-out;
  transition: opacity 1s, height 1s ease-in-out;
  -moz-border-top-left-radius: 8px;
  -webkit-border-top-left-radius: 8px;
  border-top-left-radius: 8px;
  -moz-border-top-right-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  border-top-right-radius: 8px; }
  #main-menu .main-menu-header {
    border-bottom: 2px solid #A7A5A6;
    position: relative;
    padding-left: 20px; }
    #main-menu .main-menu-header h5 {
      margin-top: 15px;
      margin-bottom: 15px; }
    #main-menu .main-menu-header i {
      position: absolute;
      right: 15px;
      top: 5px; }
  #main-menu i {
    color: #A7A5A6; }
  #main-menu .link {
    margin-left: 20px;
    padding-top: 15px; }
    #main-menu .link a {
      color: black; }

.with-menu #main-menu, .with-menu-tall.with-menu #main-menu {
  opacity: 1;
  visibility: visible;
  position: fixed;
  width: 100%;
  height: 55%;
  filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.5)); }

.with-menu-tall #main-menu {
  opacity: 1;
  visibility: visible;
  position: fixed;
  width: 100%;
  height: 100%;
  filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.5)); }

.with-menu #overlay, .with-menu-tall.with-menu #overlay, .with-menu-tall #overlay {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%; }

.alerts .user-image {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 40px;
  height: auto;
  border: 2px solid white;
  position: absolute;
  left: 20px;
  top: 13px;
  z-index: 2; }
.alerts .fa-cog {
  z-index: 2;
  position: absolute;
  position: absolute;
  right: 20px;
  top: 25px; }

#bill-alerts {
  background: white;
  visibility: hidden;
  bottom: 0;
  left: 0;
  opacity: 0;
  height: 0;
  width: 0;
  z-index: 3;
  padding: 0px; }

@-webkit-keyframes flipHorizontal {
  from {
    -webkit-transform: rotateX(60deg); }
  to {
    -webkit-transform: rotateX(0deg); } }
@keyframes flipHorizontal {
  from {
    transform: rotateX(60deg); }
  to {
    transform: rotateX(0deg); } }
.with-bill-alerts #bill-alerts {
  opacity: 1;
  visibility: visible;
  position: fixed;
  width: calc(100% - 20px);
  height: fit-content;
  display: table;
  top: 100px;
  left: 0;
  margin-left: 10px;
  margin-right: 10px;
  -webkit-animation: flipHorizontal 1s 1;
  animation: flipHorizontal 1s 1;
  filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.5)); }
  .with-bill-alerts #bill-alerts:after {
    content: '';
    position: absolute;
    top: 0;
    left: 95%;
    width: 0;
    height: 0;
    border: 1.031em solid transparent;
    border-bottom-color: white;
    border-top: 0;
    border-right: 0;
    margin-left: -0.516em;
    margin-top: -1.031em; }
  .with-bill-alerts #bill-alerts i {
    color: #A7A5A6; }
  .with-bill-alerts #bill-alerts .link {
    padding: 15px 0px 15px 30px;
    border-bottom: 1px solid lightgray; }
    .with-bill-alerts #bill-alerts .link a {
      color: black; }
.with-bill-alerts #overlay {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%; }

#search {
  background: white;
  visibility: hidden;
  bottom: 0;
  left: 0;
  opacity: 0;
  height: 0;
  width: 0;
  z-index: 3;
  padding: 10px;
  /* Change checkbox style */ }
  #search .search-header {
    position: relative;
    padding-left: 20px; }
    #search .search-header i {
      position: absolute;
      right: 5px;
      top: 0px;
      cursor: pointer;
      z-index: 4; }
  #search .nav.nav-pills a {
    text-transform: uppercase;
    color: #A7A5A6; }
    #search .nav.nav-pills a.active {
      color: black;
      border-bottom: 5px solid #ff7f35;
      -moz-border-radius: 0;
      -webkit-border-radius: 0;
      border-radius: 0;
      padding-bottom: 0; }
  #search #bills-search, #search #members-search, #search #committees-search {
    padding: 20px 0 20px 0; }
  #search .select2-container {
    width: 100% !important; }
  #search .senate-check {
    margin-left: 2rem; }
  #search .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #413971; }
  #search .custom-control-input:checked ~ .custom-control-label::before {
    color: white;
    background-color: #413971; }

@-webkit-keyframes anim {
  from {
    -webkit-transform: rotateY(180deg); }
  to {
    -webkit-transform: rotateY(0deg); } }
@keyframes anim {
  from {
    transform: rotateY(180deg); }
  to {
    transform: rotateY(0deg); } }
.with-search #search {
  opacity: 1;
  visibility: visible;
  position: fixed;
  width: calc(100% - 20px);
  height: fit-content;
  display: table;
  top: 80px;
  left: 0;
  margin-left: 10px;
  margin-right: 10px;
  -webkit-animation: anim 0.5s 1;
  animation: anim 0.5s 1;
  filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.5)); }
.with-search #overlay {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%; }

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  height: 50px;
  background: #5e578a;
  color: white;
  z-index: 4;
  box-shadow: 0 -5px 5px -5px #888888; }
  #footer .col-3 {
    border-right: 1px solid #6e65a2; }

/* Override Pure Css */
.pure-menu-horizontal.pure-menu-scrollable {
  background-color: #6e65a2;
  padding: 0; }
.pure-menu-horizontal.pure-menu-scrollable::-webkit-scrollbar {
  display: none; }

.pure-menu-link {
  color: white;
  font-size: 1.2rem;
  padding: .2em 1em; }

ul.pure-menu-list {
  scroll-padding: 0 50%;
  scroll-snap-type: x mandatory !important; }

/* Bootstrap*/
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  background: transparent;
  font-weight: bold; }

input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: searchfield-cancel-button !important; }

input[type=search] {
  -webkit-appearance: none; }

/*# sourceMappingURL=main.css.map */
