body {
  font-family: $font_0;
  position: relative;
  background: $black;
  // scroll-snap-type: mandatory;
  // scroll-snap-points-y: repeat(100vh);
  // scroll-snap-type: y proximity;
  &.flip {
    animation: 1s ease-out 0s 1 flipAround;
  }
  &.slide-left {
    animation: 1s ease-out 0s 1 slideInFromLeft;
  }
}
.wrapper-section {
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y proximity;
  padding-top: 68px;
}

section {
  border-bottom: 1px solid $white;
  padding: 1rem;
  height: 100vh;
  scroll-snap-align: start;
  text-align: center;
  position: relative;
}

h1 {
  font-size: calc(1rem +3vw);
}

.scroll-panel::-webkit-scrollbar {
  width: 6px !important;
}

.scroll-panel::-webkit-scrollbar-track {
  @include border-radius(10px !important);
}

.scroll-panel::-webkit-scrollbar-thumb {
  @include border-radius(10px !important);
  background: $color_silver_approx !important;
  &:window-inactive {
    background: $color_silver_approx !important;
  }
}

#overlay {
  display: none;
  width: 0;
  height: 0;
  background: $icon-gray;
  top: 0;
  left: 0;
  opacity: 0.8;
  z-index: 2;
}

.orange {
  color: $orange;
}

@-webkit-keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@-webkit-keyframes flipAround {
  from {-webkit-transform: rotateY(180deg);}
  to {-webkit-transform: rotateY(0deg);}
}

@keyframes flipAround {
  from {transform: rotateY(180deg);}
  to {transform: rotateY(0deg);}
}


