//colors

$color_quill_gray_approx:  lightgray;
$color_minsk_approx: #423970;
$color_suva_gray_approx: #888888;
$color_silver_chalice_approx: #adaeae;
$color_chicago_approx: #565656;
$color_silver_approx: #bbbbbd;
$color_kimberly_approx: #6e65a2;
$footer_violet: #5e578a;
$light_violet: #7068a138;
$light_orange: #c26d5e87;

//Primary Colors
$violet: #6e63a0;
$violet_light: #9e91d1;
$violet_dark: #413971;

//Secondary Colors
$orange: #ff7f35;
$orange_light: #ffb064;
$orange_dark: #c65000;

// Text colors on Primary & Secondary Bgr
$white: white;
$black: black;




//fonts
$font_0: 'Roboto', sans-serif;;