#search {
  background: $white;
  visibility: hidden;
  bottom: 0;
  left: 0;
  opacity: 0;
  height: 0;
  width: 0;
  z-index: 3;
  // -webkit-animation: anim 2s 1;
  // animation: anim 2s 1;
  padding: 10px;
  .search-header {
    position: relative;
    padding-left: 20px;
    i {
      position: absolute;
      right: 5px;
      top: 0px;
      cursor: pointer;
      z-index: 4;
    }
  }
  .nav.nav-pills {
    a {
      text-transform: uppercase;
      color: $icon-gray;
      &.active {
        color: $black;
        border-bottom: 5px solid $orange;
        @include border-radius(0);
        padding-bottom: 0;
      }
    }
  }
  #bills-search, #members-search, #committees-search {
    padding: 20px 0 20px 0;
  }
  .select2-container {
    width: 100%!important;
  }
  .senate-check {
    margin-left: 2rem;
  }
  /* Change checkbox style */
  .custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: $violet_dark;
  }
  .custom-control-input:checked~.custom-control-label::before {
    color: $white;
    background-color: $violet_dark;
  }
}
// @-webkit-keyframes anim-back {
//   from {-webkit-transform: rotateY(0deg);}
//   to {-webkit-transform: rotateY(360deg);}
// }

// @keyframes anim-back {
//   from {transform: rotateY(0deg);}
//   to {transform: rotateY(360deg);}
// }
@-webkit-keyframes anim {
  from {-webkit-transform: rotateY(180deg);}
  to {-webkit-transform: rotateY(0deg);}
}

@keyframes anim {
  from {transform: rotateY(180deg);}
  to {transform: rotateY(0deg);}
}
.with-search {
  #search {
    opacity: 1;
    visibility: visible;
    position: fixed;
    width: calc(100% - 20px);
    height: fit-content;
    display: table;
    top: 80px;
    left: 0;
    margin-left: 10px;
    margin-right: 10px;
    -webkit-animation: anim 0.5s 1;
    animation: anim 0.5s 1;
    // -webkit-animation: anim-back 2s 1;
    // animation: anim-back 2s 1;
    filter: drop-shadow(0 1px 2px rgba(0,0,0,.5));
  }
  #overlay {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
  }
}